	  <div class="page-content">
		<div id="date-range">
			<span id="filters-drop" class="drop-pointer">
			     <button class="mdl-button mdl-js-button mdl-button--icon"> 
					<i class="material-icons">event</i> 
				 </button> 
			</span><span id="date-period">01-10-2015 to 31-11-2015</span>
		</div>  
		<div id="filters-section" class="hide">
			<hr />
		    <table style="width: 400px; margin-left: 30px">
		       <tbody>
				   <tr id="select-date-week">
					  <td>Select By</td>
					  <td><select name="SelectBy" id="select-by"> 
						<option value="Week">Week</option>
						<option value="Date">Date</option></select>
					  </td>
					  <td colspan="3"> </td>
		            </tr>
	 
		            <tr class="select-by-week">
		              <td>
		                <label style="display:inline" for="StartYear">Start Year</label>
		              </td>
		              <td>
		                <select name="StartYear"> 
							<option value="2015">2015</option>
							<option value="2014">2014</option>
							<option value="2013">2013</option>
							<option value="2012">2012</option> 
						</select>
		              </td>
					  <td> </td>
		              <td>
		                 <label style="display:inline" for="StartWeek">Start Week</label>
		              </td>
		              <td>
		               <select name="StartWeek"> <option></option> 
						   <option value="1">Week 1</option>
						   <option value="2">Week 2</option>
						   <option value="3">Week 3</option>
						   <option value="4">Week 4</option>
						   <option value="5">Week 5</option>
						   <option value="6">Week 6</option>
						   <option value="7">Week 7</option>
						   <option value="8">Week 8</option>
						   <option value="9">Week 9</option>
						   <option value="10">Week 10</option>
						   <option value="11">Week 11</option>
						   <option value="12">Week 12</option>
						   <option value="13">Week 13</option>
						   <option value="14">Week 14</option>
						   <option value="15">Week 15</option>
						   <option value="16">Week 16</option>
						   <option value="17">Week 17</option>
						   <option value="18">Week 18</option>
						   <option value="19">Week 19</option>
						   <option value="20">Week 20</option>
						   <option value="21">Week 21</option>
						   <option value="22">Week 22</option>
						   <option value="23">Week 23</option>
						   <option value="24">Week 24</option>
						   <option value="25">Week 25</option>
						   <option value="26">Week 26</option>
						   <option value="27">Week 27</option>
						   <option value="28">Week 28</option>
						   <option value="29">Week 29</option>
						   <option value="30">Week 30</option>
						   <option value="31">Week 31</option>
						   <option value="32">Week 32</option>
						   <option value="33">Week 33</option>
						   <option value="34">Week 34</option>
						   <option value="35">Week 35</option>
						   <option value="36">Week 36</option>
						   <option value="37">Week 37</option>
						   <option value="38">Week 38</option>
						   <option value="39">Week 39</option>
						   <option value="40">Week 40</option>
						   <option value="41">Week 41</option>
						   <option value="42">Week 42</option>
						   <option value="43">Week 43</option>
						   <option value="44">Week 44</option>
						   <option value="45">Week 45</option>
						   <option value="46">Week 46</option>
						   <option value="47">Week 47</option>
						   <option value="48">Week 48</option>
						   <option value="49">Week 49</option>
						   <option value="50">Week 50</option>
						   <option value="51">Week 51</option>
						   <option value="52">Week 52</option>
						   <option value="53">Week 53</option>
					    </select>
		              </td>
		            </tr>
		            <tr class="select-by-week">
		               <td>
		                 <label style="display:inline" for="EndYear">End Year</label>
		               </td>
		               <td>
		                 <select name="EndYear"> 
							 <option value="2015">2015</option>
							 <option value="2014">2014</option>
							 <option value="2013">2013</option>
							 <option value="2012">2012</option> 
						 </select>
		               </td>
					   <td> </td>
		               <td>
		                 <label style="display:inline" for="EndWeek">End Week</label>
		               </td>
		               <td>
		                 <select name="EndWeek"> 
							 <option></option> 
							 <option value="1">Week 1</option>
							 <option value="2">Week 2</option>
							 <option value="3">Week 3</option>
							 <option value="4">Week 4</option>
							 <option value="5">Week 5</option>
							 <option value="6">Week 6</option>
							 <option value="7">Week 7</option>
							 <option value="8">Week 8</option>
							 <option value="9">Week 9</option>
							 <option value="10">Week 10</option>
							 <option value="11">Week 11</option>
							 <option value="12">Week 12</option>
							 <option value="13">Week 13</option>
							 <option value="14">Week 14</option>
							 <option value="15">Week 15</option>
							 <option value="16">Week 16</option>
							 <option value="17">Week 17</option>
							 <option value="18">Week 18</option>
							 <option value="19">Week 19</option>
							 <option value="20">Week 20</option>
							 <option value="21">Week 21</option>
							 <option value="22">Week 22</option>
							 <option value="23">Week 23</option>
							 <option value="24">Week 24</option>
							 <option value="25">Week 25</option>
							 <option value="26">Week 26</option>
							 <option value="27">Week 27</option>
							 <option value="28">Week 28</option>
							 <option value="29">Week 29</option>
							 <option value="30">Week 30</option>
							 <option value="31">Week 31</option>
							 <option value="32">Week 32</option>
							 <option value="33">Week 33</option>
							 <option value="34">Week 34</option>
							 <option value="35">Week 35</option>
							 <option value="36">Week 36</option>
							 <option value="37">Week 37</option>
							 <option value="38">Week 38</option>
							 <option value="39">Week 39</option>
							 <option value="40">Week 40</option>
							 <option value="41">Week 41</option>
							 <option value="42">Week 42</option>
							 <option value="43">Week 43</option>
							 <option value="44">Week 44</option>
							 <option value="45">Week 45</option>
							 <option value="46">Week 46</option>
							 <option value="47">Week 47</option>
							 <option value="48">Week 48</option>
							 <option value="49">Week 49</option>
							 <option value="50">Week 50</option>
							 <option value="51">Week 51</option>
							 <option value="52">Week 52</option>
							 <option value="53">Week 53</option> 
						 </select>
		               </td>
		            </tr>	 
           
					<tr id="select-by-date" class="hide">
						<td colspan="2">   
							<div class="snippet-demo">
							  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
							    <input class="mdl-textfield__input" type="text" id="startDate">
							    <label class="mdl-textfield__label" for="startDate">Start Date</label>
							  </div>
							</div>
						</td>
						<td> <td>
						<td colspan="2">		
							<div class="snippet-demo">
							  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
							    <input class="mdl-textfield__input" type="text" id="endDate">
							    <label class="mdl-textfield__label" for="endDate">End Date</label>
							  </div>
							</div>
						</td>
					 </tr>		
				 </tbody>
			 </table>
			 <hr />	   
		</div>
	   </div>	