<div id="reportContents">
	<h3>Epidemic Thresholds</h3> 
	Alerts:<br> 
	<ul> 
		<li>Facility with 10 or more cases</li> 
		<li>Facility with 5 or more cases in under 5s</li> 
		<li>Shehia with 10 or more cases</li> 
		<li>Shehia with 5 or more cases in under 5s</li> 
		<li>Village (household + neighbors) with  5 or more cases</li> 
		<li>District - statistical method (todo)</li> 
	</ul>
	<div id="thresholdTable_wrapper" class="dataTables_wrapper no-footer">
		<div class="DTTT_container">
			<a class="DTTT_button DTTT_button_csv" id="ToolTables_thresholdTable_0" tabindex="0" aria-controls="thresholdTable"><span>CSV</span>
				<div style="position: absolute; left: 0px; top: 0px; width: 47px; height: 28px; z-index: 99;">
					<embed id="ZeroClipboard_TableToolsMovie_3" src="./assets/js/copy_csv_xls.swf" loop="false" menu="false" quality="best" bgcolor="#ffffff" width="47" height="28" name="ZeroClipboard_TableToolsMovie_3" align="middle" allowscriptaccess="always" allowfullscreen="false" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="id=3&amp;width=47&amp;height=28" wmode="transparent">
				</div>
			</a>
		</div>
		<div class="clear"></div>
		<div class="dataTables_length" id="thresholdTable_length">
			<label>Show <select name="thresholdTable_length" aria-controls="thresholdTable" class="">
				<option value="10">10</option>
				<option value="25">25</option>
				<option value="50">50</option>
				<option value="100">100</option>
			</select> entries
			</label>
		</div>
		<div id="thresholdTable_filter" class="dataTables_filter">
			<label>Search:<input type="search" class="" placeholder="" aria-controls="thresholdTable"></label>
		</div>
		<table class="tablesorter dataTable no-footer" id="thresholdTable" role="grid" aria-describedby="thresholdTable_info"> 
			<thead> 
				<tr role="row">
					<th class="sorting_desc" tabindex="0" aria-controls="thresholdTable" rowspan="1" colspan="1" aria-sort="descending" aria-label="District: activate to sort column ascending" style="width: 447px;">District</th>
					<th class="sorting" tabindex="0" aria-controls="thresholdTable" rowspan="1" colspan="1" aria-label="2015-48: activate to sort column ascending" style="width: 226px;">2015-48</th>
					<th class="sorting" tabindex="0" aria-controls="thresholdTable" rowspan="1" colspan="1" aria-label="2015-49: activate to sort column ascending" style="width: 940px;">2015-49</th>
				</tr>
			</thead> 
			<tbody>  
				<tr role="row" class="odd"> 
					<td class="sorting_1">WETE</td> 
					<td>  </td>
					<td>  </td> 
				</tr>
				<tr role="row" class="even"> 
					<td class="sorting_1">MKOANI</td> 
					<td>  </td>
					<td>  </td> 
				</tr>
				<tr role="row" class="odd"> 
					<td class="sorting_1">MJINI</td> 
					<td>  </td>
					<td>  </td> 
				</tr>
				<tr role="row" class="even"> <td class="sorting_1">MICHEWENI</td> 
					<td>  </td>
					<td>  </td> 
				</tr>
				<tr role="row" class="odd"> 
					<td class="sorting_1">MAGHARIBI</td> 
					<td>  </td>
					<td> <small>
						<a href="#show/issue/alert-weekly-village-cases-2015-49-MAGHARIBI-TOMONDO">Village TOMONDO, Cases: 5, Week: 2015-49
						</a></small> </td> 
					</tr>
					<tr role="row" class="even"> 
						<td class="sorting_1">KUSINI</td> 
						<td>  </td>
						<td>  </td> 
					</tr>
					<tr role="row" class="odd"> <td class="sorting_1">KATI</td> 
						<td>  </td>
						<td>  </td> 
					</tr>
					<tr role="row" class="even"> 
						<td class="sorting_1">KASKAZINI B</td> 
						<td>  </td>
						<td>  </td> 
					</tr>
					<tr role="row" class="odd"> 
						<td class="sorting_1">KASKAZINI A</td> 
						<td>  </td>
						<td>  </td> 
					</tr>
					<tr role="row" class="even"> 
						<td class="sorting_1">CHAKE CHAKE</td> 
						<td>  </td>
						<td>  </td> 
					</tr>
				</tbody> 
			</table>
			<div class="dataTables_info" id="thresholdTable_info" role="status" aria-live="polite">Showing 1 to 10 of 10 entries</div>
			<div class="dataTables_paginate paging_simple_numbers" id="thresholdTable_paginate">
				<a class="paginate_button previous disabled" aria-controls="thresholdTable" data-dt-idx="0" tabindex="0" id="thresholdTable_previous">Previous</a>
				<span>
					<a class="paginate_button current" aria-controls="thresholdTable" data-dt-idx="1" tabindex="0">1</a>
				</span>
				<a class="paginate_button next disabled" aria-controls="thresholdTable" data-dt-idx="2" tabindex="0" id="thresholdTable_next">Next</a>
			</div>
		</div>
	</div>