<div id="results" class="result">
	<h3><i class="material-icons" style="font-size: 36px">smartphone</i>  Send Message</h3>
	<h5>Select Recipients</h5> 
	<input id="check-all" type="checkbox"> Select All
	<table class="recipients tablesorter"> 
		<thead> 
			<tr><th></th><th>Phone Number</th><th>District</th><th>Name</th><th>Inactive</th> </tr>
		</thead> 
		<tbody> 
			<tr> <td><input class="phone-number" id="check-user.0717510341" type="checkbox"></td>
				 <td>0717510341</td><td>CENTRAL</td><td>Ali S Ali</td><td>undefined</td> 
			 </tr>
			 <tr> <td><input class="phone-number" id="check-user.0773196360" type="checkbox"></td> <td>0773196360</td><td>CHAKE CHAKE</td><td>Fauhat Ali Massoud</td><td>null</td> 
			 </tr>
			 <tr> <td><input class="phone-number" id="check-user.0777477900" type="checkbox"></td> <td>0777477900</td><td>CHAKE CHAKE</td><td>Gharib Hasani</td><td>undefined</td> 
			 </tr>
			 <tr> <td><input class="phone-number" id="check-user.0777524646" type="checkbox"></td> <td>0777524646</td><td>KASKAZINI A</td><td>Salama Khamis Said</td><td>true</td> 
			 </tr>
			 <tr> <td><input class="phone-number" id="check-user.0777708047" type="checkbox"></td> <td>0777708047</td><td>KASKAZINI B</td><td>Ramadhan Seif Nassor</td><td>null</td> 
			 </tr>
			 <tr> <td><input class="phone-number" id="check-user.0778380822" type="checkbox"></td> <td>0778380822</td><td>KASKAZINI B</td><td>Khamis Moh'd Khamis</td><td>true</td> 
			 </tr>
			 <tr> <td><input class="phone-number" id="check-user.0777300968" type="checkbox"></td> <td>0777300968</td><td>KATI</td><td>Fatma Suleimal Adam</td><td>null</td> 
			 </tr>
			 <tr> <td><input class="phone-number" id="check-user.0777879374" type="checkbox"></td> <td>0777879374</td><td>KATI</td><td>Shaban Khamis Haji</td><td>null</td> 
			 </tr>
			 <tr> <td><input class="phone-number" id="check-user.0773334643" type="checkbox"></td> <td>0773334643</td><td>KUSINI</td><td>Ame Mwadini Ame</td><td>null</td> 
			 </tr>
			 <tr> <td><input class="phone-number" id="check-user.0777437355" type="checkbox"></td> <td>0777437355</td><td>MAGHARIBI</td><td>Abass Rajab Ussi</td><td>null</td> 
			 </tr>
			 <tr> <td><input class="phone-number" id="check-user.0772632770" type="checkbox"></td> <td>0772632770</td><td>MICHEWENI</td><td>Rashi Abdallah Seif</td><td>null</td> 
			 </tr>
			 <tr> <td><input class="phone-number" id="check-user.0773513887" type="checkbox"></td> <td>0773513887</td><td>MICHEWENI</td><td>Saidi Masoud Ali</td><td>undefined</td> 
			 </tr>
			 <tr> <td><input class="phone-number" id="check-user.0777709534" type="checkbox"></td> <td>0777709534</td><td>MJINI</td><td>Haji Ramadhan Haji</td><td>null</td> 
			 </tr>
			 <tr> <td><input class="phone-number" id="check-user.0773288538" type="checkbox"></td> <td>0773288538</td><td>MKOANI</td><td>Juma Jape Khamis</td><td>null</td> 
			 </tr>
			 <tr> <td><input class="phone-number" id="check-user.0773507191" type="checkbox"></td> <td>0773507191</td><td>MKOANI</td><td>Musa M Adibu</td><td>undefined</td> 
			 </tr>
			 <tr> <td><input class="phone-number" id="check-user.0773922266" type="checkbox"></td> <td>0773922266</td><td>NORTH A</td><td>Muharami Haji Faki</td><td>undefined</td> 
			 </tr>
			 <tr> <td><input class="phone-number" id="check-user.0777481615" type="checkbox"></td> <td>0777481615</td><td>NORTH A</td><td>Ali Mohammed Ali</td><td>null</td> 
			 </tr>
			 <tr> <td><input class="phone-number" id="check-user.0777828511" type="checkbox"></td> <td>0777828511</td><td>NORTH B</td><td>Khamis A Salum</td><td>undefined</td> 
			 </tr>
			 <tr> <td><input class="phone-number" id="check-user.0777240940" type="checkbox"></td> <td>0777240940</td><td>SOUTH</td><td>Mgana Othman Mgana</td><td>undefined</td> 
			 </tr>
			 <tr> <td><input class="phone-number" id="check-user.0778082796" type="checkbox"></td> <td>0778082796</td><td>SOUTH</td><td>Mgana Othman Mgana</td><td>true</td> 
			 </tr>
			 <tr> <td><input class="phone-number" id="check-user.0778712316" type="checkbox"></td> <td>0778712316</td><td>SOUTH</td><td>Abdullah Y Abdullah</td><td>true</td> 
			 </tr>
			 <tr> <td><input class="phone-number" id="check-user.0773662538" type="checkbox"></td> <td>0773662538</td><td>URBAN</td><td>Bakari Juma</td><td>undefined</td> 
			 </tr>
			 <tr> <td><input class="phone-number" id="check-user.0778210070" type="checkbox"></td> <td>0778210070</td><td>WEST</td><td>Habiba Suleiman Seif</td><td>undefined</td> 
			 </tr>
			 <tr> <td><input class="phone-number" id="check-user.0773126786" type="checkbox"></td> <td>0773126786</td><td>WETE</td><td>Ali Khamis Ali</td><td>null</td> 
			 </tr>
			 <tr> <td><input class="phone-number" id="check-user.0777896573" type="checkbox"></td> <td>0777896573</td><td>WETE</td><td>Rashid Abas Hamadi</td><td>undefined</td> 
			 </tr>
			 <tr> <td><input class="phone-number" id="check-user.0787263670" type="checkbox"></td> <td>0787263670</td> <td></td> <td>Ritha</td> <td>RTI</td> 
			 </tr> 
			 <tr> <td><input class="phone-number" id="check-user.3141" type="checkbox"></td> <td>31415926</td> <td></td> <td>Test</td> <td>Doesn't actually work</td> 
			 </tr>
		 </tbody> 
	 </table> 
	 <form id="message-form"> Recipients: <div id="to"></div> 
		 <label style="display:block" for="message">Message</label> 
		 <textarea style="width:100%" id="message" name="message"></textarea> 
		 <div id="messageBox"></div>  
		 <input type="submit" value="Send"> <span id="charCount"></span> 
	 </form> 
	 <h5>Sent Messages</h5> 
	 <table class="sent-messages tablesorter"> 
		 <thead> 
			 <tr><th>date</th><th>to</th><th>text</th> </tr>
		 </thead> 
		 <tbody> 
			 <tr> <td>2012-08-01 08:56:21</td><td>0717510341</td><td>Coconut Surveillance system is now active. New cases will be sent via SMS. Contact Ritha for questions: 0787263670</td> 
			 </tr>
			 <tr> <td>2012-08-01 08:56:21</td><td>0773513887</td><td>Coconut Surveillance system is now active. New cases will be sent via SMS. Contact Ritha for questions: 0787263670</td> 
			 </tr>
			 <tr> <td>2012-08-01 08:56:21</td><td>0773662538</td><td>Coconut Surveillance system is now active. New cases will be sent via SMS. Contact Ritha for questions: 0787263670</td> 
			 </tr>
			 <tr> <td>2012-08-01 08:56:21</td><td>0773922266</td><td>Coconut Surveillance system is now active. New cases will be sent via SMS. Contact Ritha for questions: 0787263670</td> 
			 </tr>
			 <tr> <td>2012-08-01 08:56:21</td><td>0777477900</td><td>Coconut Surveillance system is now active. New cases will be sent via SMS. Contact Ritha for questions: 0787263670</td> 
			 </tr>
			 <tr> <td>2012-08-01 08:56:21</td><td>0773507191</td><td>Coconut Surveillance system is now active. New cases will be sent via SMS. Contact Ritha for questions: 0787263670</td> 
			 </tr>
			 <tr> <td>2012-08-01 08:56:21</td><td>0777896573</td><td>Coconut Surveillance system is now active. New cases will be sent via SMS. Contact Ritha for questions: 0787263670</td> 
			 </tr>
			 <tr> <td>2012-08-01 08:56:21</td><td>0778210070</td><td>Coconut Surveillance system is now active. New cases will be sent via SMS. Contact Ritha for questions: 0787263670</td> 
			 </tr>
			 <tr> <td>2012-08-01 08:56:21</td><td>0778712316</td><td>Coconut Surveillance system is now active. New cases will be sent via SMS. Contact Ritha for questions: 0787263670</td> 
			 </tr>
			 <tr> <td>2012-08-01 08:56:21</td><td>0777828511</td><td>Coconut Surveillance system is now active. New cases will be sent via SMS. Contact Ritha for questions: 0787263670</td> 
			 </tr>
			 <tr> <td>2012-08-01 08:56:21</td><td>0787263670</td><td>Coconut Surveillance system is now active. New cases will be sent via SMS. Contact Ritha for questions: 0787263670</td> 
			 </tr>
			 <tr> <td>2012-10-30 17:06:03</td><td>0777896573</td><td>Test message.</td> 
			 </tr>
		 </tbody> 
	 </table>
 </div>
