<div id="results" class="result">
	<h3><i class="material-icons" style="font-size: 36px">assignment</i>  To Dos</h3>
		<div class="m-b-20">
			<button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon"><a href="#"><i class="material-icons">add_circle</i></button> Create New</a>
		</div>
		<div class="dataTables_length f-left" id="issuesTable_length">
			<label>Show <select name="issuesTable_length" aria-controls="issuesTable" class="">
				<option value="10">10</option>
				<option value="25">25</option>
				<option value="50">50</option>
				<option value="100">100</option>
			</select> entries</label>
		</div>
		<div id="issuesTable_filter" class="dataTables_filter f-right"><label>Search:<input type="search" class="" placeholder="" aria-controls="issuesTable"></label> <button>CSV</button></div>
		<table class="recipients tablesorter"> 
			<thead> 
				<tr><th>Description</th><th>Date Created</th><th>Assigned</th><th>Target Date</th><th>Date Completed</th></tr>
			</thead> 
			<tbody>
				<tr><td>Task 1 </td><td> </td><td> </td><td> </td><td></td></tr>
				<tr><td>Task 2 </td><td> </td><td> </td><td> </td><td></td></tr>
				<tr><td>Task 3</td><td> </td><td> </td><td> </td><td></td></tr>
			</tbody>
		 </table>		
	</div> 
</div>	